body{
    background-image: url("images/minecraft_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: minecraftFont;
    z-index: 0;
    color: white;
    text-align: center;
}

#intro-heading{
    margin-top: 30px;
    font-size: xx-large;
}

#game-heading{
    font-size: larger;
    margin: 30px 0;
}

#intro{
    margin: 30px auto;
    width: 60%;
    font-size: larger;
}

#intro div{
    margin-bottom: 15px;
}

#continue{
    margin-top: 60px;
    font-size: xx-large;
}

#continue:hover{
    cursor: pointer;
    text-shadow: 0 0 2px white;
}

#difficulty-screen{
    display: none;
}

#end-screen{
    display: none;
}

.full-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#difficulty-menu{
    text-align: center;
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 200px auto;
    width: 20%;
    padding: 20px;
}

#start-btn{
    margin-top: 10px;
}

button{
    font-family: minecraftFont;
}

#game-board{
    display: none;
}

#grid-container{
    background-color: rgba(0, 0, 0, 0.486);
    border: black solid 1px;
    margin: 0 auto;
    grid-gap: 1px;
}

.cell{
    width: 25px;
    height: 25px;
    display: block;
    background-size: cover;
    background-image: url(images/grass-top.jpeg);
}

#end-popup{
    width: 35%;
    position: relative;
    margin: 7rem auto;
    padding: 20px;
    line-height: 2rem;
    font-size: x-large;
    text-align: center;
}

#cats {
    position: fixed;
    left: 15%;
    top: 40%;
    background-color: rgb(27, 27, 27);
    border: grey 4px solid;
    border-radius: 4px;
    width: 50px;
    line-height: 25px;
    padding: 3px;
}

#cat-icon{
    background-image: url("images/grass_top_with_cat.png");
    background-size: cover;
    display: block;
    float: left;
    width: 25px;
    height: 25px;
}

#cats-counter{
    float: right;
}

#legend{
    background-color: rgb(27, 27, 27);
    border: grey 4px solid;
    border-radius: 4px;
    width: 100px;
    position: fixed;
    left: 85%;
    top: 27%;
}

#legend-header{
    margin-bottom: 5px;
}

#legend ul{
    margin: 0;
    margin-left: 2px;
    padding: 0;
    list-style: none;
    float: left;
    line-height: 25px;
}

#legend ul li{
    list-style: none;
    margin-left: 0;
    margin-bottom: 2px;
}

#legend ul li span{
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 7px;
    background-repeat: no-repeat;
    background-size: cover;
}

#key1{
    background-image: url(images/coal_ore.png);
}

#key2{
    background-image: url(images/iron_ore.png);
}

#key3{
    background-image: url(images/redstone_ore.png);
}

#key4{
    background-image: url(images/gold_ore.png);
}

#key5{
    background-image: url(images/lapis_ore.png);
}

#key6{
    background-image: url(images/emerald_ore.png);
}

#key7{
    background-image: url(images/diamond_ore.png);
}

#key8{
    background-image: url(images/ancient_debris_side.png);
}

@font-face{
    font-family: minecraftFont;
    src: url('Minecraft-Regular.otf');
}